.badge {
    padding:9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #b1ddab;
      color: white;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
  }