.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}
.table thead th {
  font-weight: 700;
  font-size: 1.1em;
  color: #333;
  text-align: center;
  padding: 1em;
} 

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}
.btn-primary {
 border: none;
}
button{
  border-radius: 5px;
  border: black 1px solid;;
}
button:hover{
  cursor: pointer;
  background-color: rgb(173, 183, 172);
}

  #button:hover{
    background-color: #5e9357;

  }
  #button{
    background-color:#3c8732;
    color: white;
  }
  label{
    font-weight: bold;
  
  }

  tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#hcarrello,#buttonC{
  background-color: #9eda96;
  border: none;
}
#hcarrello:hover,#buttonC:hover{
  background-color: #2d6a25;
}

