<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> abbigliamento </title>
  <link rel="stylesheet" href="/css/abbigliamento.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">

 

</head>
<body>

	<header id="header">
		<div class="logo container">
			<div>
				<h1><a href="/home" id="logo">Motoroni</a></h1>
				<p>i più belli di sempre</p>
			</div>
		</div>
	</header>

<!-- Nav -->
	<nav id="nav">
		<ul>
			<li class="current"><a href="/home">Home</a></li>
			<li>
				<a href="#">Motoroni</a>
				<ul>
					<li>
						<a href="#">Sportive</a>
						<ul>
							<li><a href="#">Ducati</a></li>
							<li><a href="#">Kawasaki</a></li>
							<li><a href="#">Yamaha</a></li>
						</ul>
					</li>

					<li>
						<a href="#">Cross</a>
						<ul>
							<li><a href="#">Ducati</a></li>
							<li><a href="#">Kawasaki</a></li>
							<li><a href="#">Yamaha</a></li>
						</ul>
					</li>

					<li>
						<a href="#">Scooter</a>
						<ul>
							<li><a href="#">Ducati</a></li>
							<li><a href="#">Kawasaki</a></li>
							<li><a href="#">Yamaha</a></li>
						</ul>
					</li>

				</ul>
				
				<li> 	
					<a href="/caschi">Caschi</a>
					<ul>
						<li><a href="#">Integrali</a></li>
						<li><a href="#">Jet</a></li>
					</ul>
				</li>

				<li> 	
					<a href="/abbigliamento">Abbigliamento</a>
					<ul>
						<li><a href="#">Giacche</a></li>
						<li><a href="#">Pantaloni</a></li>
					</ul>
				</li>

			</li>
		</ul>
	</nav>



		
	<div class="flex-container">

		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button id="button-box"
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>
					</div>

				</tr>
			</tbody>
		</table>
	</div>







	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="flex-container">
		<table>
			<tbody>
				<tr th:each="abbigliamento : ${vestiti}">

					<div class="flex-item bg-one tilt">

						<span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>

						<div class="text" th:text="${abbigliamento.nomeAbbigliamento}"></div>

						<div class="text" th:text="${abbigliamento.prezzo}"></div>
					
								<button 
								th:findbyid="${abbigliamento.id}"
								onclick="cercaAbbigliamento(this)">Scopri di più</button>

					</div>

				</tr>
			</tbody>
		</table>
	</div>

	
<script src="script.js"></script>
</body>
</html>