<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> abbigliamento </title>
  <link rel="stylesheet" href="/css/abbigliamento.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">

 

</head>
<body>
   
<!-- partial:index.partial.html -->
<div class="flex-container">
	<div class="flex-item bg-one tilt">
		<a href="/abbigliamento"> <span><img src="https://shop.ducati.com/media/catalog/product/cache/d737c4e9011f92407994a498031f753a/f/8/f8b0b020f0775dee79c831048e0689bf_9.jpg"></span> 
    		  <div class="text">
        	
				<a href="/dettaglio" class="details text" >Scopri di più</a>
        </div></a>
		
	</div>
	<div class="flex-item bg-two tilt">
		<a href="/dettaglio"> <span><img src="https://www.motoneracing.com/online/222034-thickbox_default/abbigliamento-moto-rukka-giacca-offlane-nera-gialla-fluo-goretex.jpg"></span>
    		  	<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL  
		</div></a>
	</div>
  	<div class="flex-item bg-three tilt">
		<a href="/abbigliamento"> <span><img src="https://cdn.shopify.com/s/files/1/0017/8310/3533/products/Back_T_Shirt_0a05c73a-7767-4215-a93a-6935dfb2bf49_1024x1024.png?v=1571718603"></span>
		  	<div class="text">
			Taglie disponibili: <br> XS S M L XL XXL        
		</div></a>
	</div>
      
		
	<div class="flex-item bg-four tilt">
		<a href="/abbigliamento"> <span><img src="https://lagunaseca.it/14989-large_default/giacca-action-h2o.jpg"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL		
		</div></a>
	</div>

	<div class="flex-item bg-five tilt">
		<a href="/abbigliamento"> <span><img src="https://shop.ducati.com/media/catalog/product/cache/320c2e69a374e3d7282ccd5a9111d6e0/1/b/1ba49bb1432a9da4477303961bd96f3f_1.jpg"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL		
		</div></a>
	</div>
	<div class="flex-item bg-six tilt">
		<a href="/abbigliamento"> <span><img src="https://shop-ps.ducatimilano.com/46251-large_default/giacca-moto-da-uomo-originale-ducati-by-spidi-tour-c4-nerorosso-98107364.jpg"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>
	<div class="flex-item bg-seven tilt">
		<a href="/abbigliamento"> <span><img src="https://m.media-amazon.com/images/I/61o8Qq6YCtL._AC_UF894,1000_QL80_.jpg"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>

	<div class="flex-item bg-eight tilt">
		<a href="/abbigliamento"> <span><img src="https://data.outletmoto.eu/imgprodotto/giubbotto-moto-estivo-traforato-acerbis-ramsey-my-vented-2-0-ce-grigio-giallo-fluo_105772.jpg"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>		
	<div class="flex-item bg-nine tilt">
		<a href="/abbigliamento"> <span><img src="https://m.media-amazon.com/images/I/61ZGgfWTrAL._AC_UY1000_.jpg"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>	

	<div class="flex-item bg-ten tilt">
		<a href="/abbigliamento"> <span><img src="https://www.icasque.it/images/sportswear-moto/vetements/vestes-moto/hoodie-zip-kid-racing-yamaha-vr46-bleu-s6.jpg"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>	



	

</div>
<script src="script.js"></script>
</body>
</html>