<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> abbigliamento </title>
  <link rel="stylesheet" href="/css/abbigliamento.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">

 

</head>
<body>
   
<!-- partial:index.partial.html -->
<div class="flex-container">
	<div class="flex-item bg-one tilt">
		<a href="/abbigliamento"> <span><img src="https://www.streetshirts.co.uk/creation/services/imageprocessing/getCreationPreviewImage.aspx?filename=PFC[SSDI3txxOOpkqdnPunEB8XWLVm5GCJ]&size=300"></span> 
    		  <div class="text">
        Taglie disponibili: <br> XS S M L XL XXL
		

        </div>
          
        </a>
	</div>
	<div class="flex-item bg-two tilt">
		<a href="/abbigliamento"> <span><img src="https://image.spreadshirtmedia.com/content/w_650/cms/cyo/seo/tshirts/210_us_desktop.png"></span>
    		  	<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL  
		</div></a>
	</div>
  	<div class="flex-item bg-three tilt">
		<a href="/abbigliamento"> <span><img src="https://cdn.shopify.com/s/files/1/0017/8310/3533/products/Back_T_Shirt_0a05c73a-7767-4215-a93a-6935dfb2bf49_1024x1024.png?v=1571718603"></span>
		  	<div class="text">
			Taglie disponibili: <br> XS S M L XL XXL        
		</div></a>
	</div>
      
		
	<div class="flex-item bg-four tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL		
		</div></a>
	</div>

	<div class="flex-item bg-five tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL		
		</div></a>
	</div>
	<div class="flex-item bg-six tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>
	<div class="flex-item bg-seven tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
				Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>

	<div class="flex-item bg-eight tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>		
	<div class="flex-item bg-nine tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>	

	<div class="flex-item bg-ten tilt">
		<a href="/abbigliamento"> <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1mKFt1cOhllJnyakkXxiO8TQqvkLLlxJc07oZQkTDHg&s"></span>
				<div class="text">
		Taglie disponibili: <br> XS S M L XL XXL
		</div></a>
	</div>	



	

</div>
<script src="script.js"></script>
</body>
</html>