<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/adminMoto.css" type="text/css" />
    <script src="js/casco.js" defer></script>
</head>
<body>
    <a href="/admin" ><button id="homepage">Torna al menù</button></a>
    <button id="cInsert" onclick="apriFormAggiunta()">Aggiungi Casco</button>
<div class="table-container">
    <table id="tableC">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modello</th>
                <th>Casco</th>
                <th>Visiera Oscurata</th>
                <th>Colore</th>
                <th>Prezzo</th>
            </tr>
         </thead>
            <tbody>
                <tr th:each="elmo:${caschi}">
                    <td th:text="${elmo.id}"></td>
                    <td th:text="${elmo.modello}"></td>
                    <td th:text="${elmo.nomeCasco}"></td>
                    <td th:text="${elmo.visieraOscurata ? 'Sì' : 'No'}"></td>
                    <td th:text="${elmo.coloreCasco}"></td>
                    <td th:text="${elmo.prezzo}+'€'"></td>
                    <td id="tdModifica">
                        <button th:modifica-id="${elmo.id}"
                        th:modifica-modello="${elmo.modello}"
                        th:modifica-nomeCasco="${elmo.nomeCasco}"
                        th:modifica-visieraOscurata="${elmo.visieraOscurata}"
                        th:modifica-coloreCasco="${elmo.coloreCasco}"
                        th:modifica-prezzo="${elmo.prezzo}" onclick="modificaCasco(this)">Modifica</button>
                    </td>
                        <td id="tdElimina">
                            <a th:href="|/elimina-casco?idCasco=${elmo.id}|"><button id="bottoneE">Elimina</button></a> 
                        </td>
                </tr>    
            </tbody>      
    </table>
</div>
    <div id="form-Modifica" hidden >
        <form action="/modifica-casco" method="post" >
            <h2 id="h2">MODIFICA</h2>
        <label for="id">ID</label>
        <input type="number" id="id" name="id" readonly>
        <label for="modello">Modello</label>
        <input type="text" id="modello" name="modello" required>
        <label for="nomeCasco">Casco</label>
        <input type="text" id="nomeCasco" name="nomeCasco" required>
        <label for="visieraOscurata">Visiera Oscurata</label>
        <input type="checkbox" id="visieraOscurata" name="visieraOscurata" value="true" onclick="checkTheCheckBox(this)" >
        <label for="coloreCasco">Colore</label>
        <input type="text" id="coloreCasco" name="coloreCasco" required>
        <label for="prezzo">Prezzo</label>
        <input type="number" id="prezzo" name="prezzo" required step="0.01">
        <button id="salvaCasc" onclick="chiudiFormModifica()">Salva & Chiudi</button>
        <button id="annullaCasc" type="reset" onclick="chiudiFormModifica()">Annulla</button>
        </form>
    </div>
    
    <div id="Inserisci" hidden>
    <form  action="/inserisci-casco" method="post">
        <h2 id="h2">INSERISCI</h2>
        <label for="modello">Modello</label>
        <input type="text" id="modello" name="modello" required>
        <label for="nomeCasco">Casco</label>
        <input type="text" id="nomeCasco" name="nomeCasco" required>
        <label for="visieraOscurata">Visiera Oscurata</label>
        <input type="checkbox" id="visieraOscurata" name="visieraOscurata" value="true"  onclick="checkTheCheckBox(this)">
        <label for="coloreCasco">Colore</label>
        <input type="text" id="coloreCasco" name="coloreCasco" required>
        <label for="prezzo">Prezzo</label>
        <input type="number" id="prezzo" name="prezzo" required step="0.01">
        <button id="salvaCasc" type="submit"onclick="chiudiFormAggiunta()">Salva & Chiudi</button> 
        <button id="annullaCasc" type="reset" onclick="chiudiFormAggiunta()" >Annulla</button>
        
    </form>
    </div>
</body>
</html>