<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menù Admin</title>
    <link rel="stylesheet" href="/css/adminPage.css" type="text/css" />
</head>

<body>
    <a href="/home"><button id="homepage">Torna alla home</button></a>  
<div class="container">
    <a href="/admin-moto"><button class="button">MOTO</button> </a>
    <a href="/admin-caschi"><button class="button">CASCHI</button> </a>
    <br>
    <a href="/admin-abbigliamento"><button class="button">ABBIGLIAMENTO</button></a>
    <a href="/admin-immagini"><button class="button">IMMAGINI</button></a>
    
</body>
</html>