<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/adminMoto.css" type="text/css" />
    <script src="js/moto.js" defer></script>
</head>
<body>
    <a href="/admin" ><button id="homepage">Torna al menù</button></a>
    <button id="tInser" onclick="apriFormAggiunta()">Aggiungi Moto</button>  
    <div class="table-container">
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Targa</th>
                <th>Standard</th>
                <th>Motore</th>
                <th>Colore</th>
                <th>Anno</th>
                <th>Prezzo</th>
                <th>Altezza sella</th>
                <th>Peso</th>
                <th>Cilindrata</th>
                <th>Capacità serbatoio</th>
                <th>Potenza CV</th>
                <th>Potenza KW</th>
                <th>Consumo</th>
                <th>Trasmissione Manuale</th>
                <th>Avvio Elettronico</th>
                <th>Tipo</th>               
            </tr>
        </thead>
        <tbody>
            <tr th:each="motorone:${moto}">
                <td th:text="${motorone.id}"></td>
                <td th:text="${motorone.marca}"></td>
                <td th:text="${motorone.targa}"></td>
                <td th:text="${motorone.euro}"></td>
                <td th:text="${motorone.nomeMotore}"></td>
                <td th:text="${motorone.coloreMoto}"></td>                   
                <td th:text="${motorone.annoProduzione}"></td>
                <td th:text="${motorone.prezzo}+'€'"></td>
                <td th:text="${motorone.altezzaSella}+' cm'"></td>
                <td th:text="${motorone.peso}+' kg'"></td>
                <td th:text="${motorone.cilindrata}"></td>
                <td th:text="${motorone.capacitaSerbatoio}+'L'"></td>
                <td th:text="${motorone.potenzaCV}"></td>
                <td th:text="${motorone.potenzaKV}"></td>
                <td th:text="${motorone.consumo}"></td>
                <td th:text="${motorone.trasmissioneM ? 'Sì' : 'No'}"></td>
                <td th:text="${motorone.elettronico ? 'Sì' : 'No'}"></td>
                <td th:text="${motorone.tipoMoto}"></td>
            
            <td id="tdModifica">
                <button th:modifica-id="${motorone.id}" 
                th:modifica-marca="${motorone.marca}"
                th:modifica-targa="${motorone.targa}"
                th:modifica-euro="${motorone.euro}" 
                th:modifica-nomeMotore="${motorone.nomeMotore}"
                th:modifica-coloreMoto="${motorone.coloreMoto}"
                th:modifica-annoProduzione="${motorone.annoProduzione}"
                th:modifica-prezzo="${motorone.prezzo}"
                th:modifica-altezzaSella="${motorone.altezzaSella}"
                th:modifica-peso="${motorone.peso}"
                th:modifica-cilindrata="${motorone.cilindrata}"
                th:modifica-capacitaSerbatoio="${motorone.capacitaSerbatoio}"
                th:modifica-potenzaCV="${motorone.potenzaCV}"
                th:modifica-potenzaKV="${motorone.potenzaKV}"
                th:modifica-consumo="${motorone.consumo}"
                th:modifica-trasmissioneM="${motorone.trasmissioneM}"
                th:modifica-elettronico="${motorone.elettronico}"
                th:modifica-tipoMoto="${motorone.tipoMoto}"
                onclick="modificaMoto(this)">Modifica</button>
            </td>
            <td id="tdElimina">
                    <a th:href="|/elimina-moto?idMoto=${motorone.id}|"><button id="bottoneE">Elimina</button></a>
                </td>
        </tr>
    </tbody>
    </table>
</div>
    <div id="form-Modifica" hidden>
        <form action="/modifica-moto" method="post" >
            <h2 id="h2">MODIFICA</h2>
            <label for="id">ID</label>
            <input type="number" name="id" id="id" readonly >
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" maxlength="50" minlength="2" required>
            <div class="error-message">Inserisci almeno 2 caratteri</div>
            <label for="targa">Targa</label>
            <input type="text" name="targa" id="targa" maxlength="7" minlength="7" required>
            <div class="error-message">Inserisci 7 caratteri</div>
            <label for="euro">Standard</label>
            <input type="text" name="euro" id="euro" required >
            <label for="nomeMotore">Motore</label>
            <input type="text" name="nomeMotore" id="nomeMotore" required>
            <label for="coloreMoto">Colore</label>
            <input type="text" name="coloreMoto" id="coloreMoto" required>
            <label for="annoProduzione">Anno</label>
            <input type="number" name="annoProduzione" id="annoProduzione" min="1970" max="2024"  required>
            <div class="error-message">Inserisci un anno valido (1970-2024).</div>
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="prezzo" required  >
            <label for="altezzaSella">Altezza sella</label>
            <input type="number" name="altezzaSella" id="altezzaSella" required>
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="peso" step="0.5">
            <label for="cilindrata">Cilindrata</label>
            <input type="number" name="cilindrata" id="cilindrata" step="1" required>
            <div class="error-message">Solo numeri interi.</div>
            <label for="capacitaSerbatoio">Capacità serbatoio</label>
            <input type="number" name="capacitaSerbatoio" id="capacitaSerbatoio" step="1" required>
            <div class="error-message">Solo numeri interi.</div>
            <label for="potenzaCV">Potenza CV</label>
            <input type="number" name="potenzaCV" id="potenzaCV" step="1" required>
            <div class="error-message">Solo numeri interi.</div>
            <label for="potenzaKV">Potenza KW</label>
            <input type="number" name="potenzaKV" id="potenzaKV" step="1" required> 
            <div class="error-message">Solo numeri interi.</div>
            <label for="consumo">Consumo</label>
            <input type="number" name="consumo" id="consumo" step="0.01" required>
            <label for="trasmissioneM">Trasmissione Manuale</label>
            <input type="checkbox" name="trasmissioneM" id="trasmissioneM" value="true" onclick="checkTheCheckBox(this)" checked>
            <label for="elettronico">Avviamento Elettronico</label>
            <input type="checkbox" name="elettronico" id="elettronico" value="true" onclick="checkTheCheckBox(this)">
            <label for="tipoMoto">Tipo</label>
            <input type="text" name="tipoMoto" id="tipoMoto" value="Sportiva" readonly> 
            <button id="salvaCasc" onclick="chiudiFormModifica()">Salva & Chiudi</button>
            <button id="annullaCasc" type="reset" onclick="chiudiFormModifica()">Annulla</button>
        </form>
    </div>
    
    <div id="Inserisci" hidden>
        <form id="form-inserisci" action="/inserisci-moto" method="post">
            <h2 id="h2">INSERISCI</h2>
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" required maxlength="50" minlength="2" >
            <div class="error-message">Inserisci almeno 2 caratteri.</div>
            <label for="targa">Targa</label>
            <input type="text" name="targa" id="targa" required maxlength="7" minlength="7">
            <div class="error-message">Inserisci 7 caratteri.</div>
            <label for="euro">Standard</label>
            <input type="text" name="euro" id="euro" required >
            <label for="nomeMotore">Motore</label>
            <input type="text" name="nomeMotore" id="nomeMotore" required>
            <label for="coloreMoto">Colore</label>
            <input type="text" name="coloreMoto" id="coloreMoto" required>
            <label for="annoProduzione">Anno</label>
            <input type="number" name="annoProduzione" id="annoProduzione" max="2024" min="1970">
            <div class="error-message">Inserisci un anno valido (1970-2024).</div>
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="prezzo" required>
            <label for="altezzaSella">Altezza sella</label>
            <input type="number" name="altezzaSella" id="altezzaSella" required>
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="peso" required step="0.5">
            <label for="cilindrata">Cilindrata</label>
            <input type="number" name="cilindrata" id="cilindrata" required step="1">
            <div class="error-message">Solo numeri interi.</div>
            <label for="capacitaSerbatoio">Capacità serbatoio</label>
            <input type="number" name="capacitaSerbatoio" id="capacitaSerbatoio" required step="1">
            <div class="error-message">Solo numeri interi.</div>
            <label for="potenzaCV">Potenza CV</label>
            <input type="number" name="potenzaCV" id="potenzaCV" required step="1">
            <div class="error-message">Solo numeri interi.</div>
            <label for="potenzaKV">Potenza KW</label>
            <input type="number" name="potenzaKV" id="potenzaKV" required step="1">
            <div class="error-message">Solo numeri interi.</div>
            <label for="consumo">Consumo</label>
            <input type="number" name="consumo" id="consumo" required step="0.01">
            <label for="trasmissioneM">Trasmissione Manuale</label>
            <input type="checkbox" name="trasmissioneM" id="trasmissioneM" value="true" onclick="checkTheCheckBox(this)">
            <label for="elettronico">Avviamento Elettronico</label>
            <input type="checkbox" name="elettronico" id="elettronico" value="true" onclick="checkTheCheckBox(this)">
            <label for="tipoMoto">Tipo</label>
            <input type="text" name="tipoMoto" id="tipoMoto" value="Sportiva" readonly> 
            <button id="salvaCasc" onclick="chiudiFormAggiunta()">Salva & Chiudi</button> 
            <button id="annullaCasc" type="reset" onclick="chiudiFormAggiunta()">Annulla</button> 

</form>

    </div>
</body>
</html>