<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrello.css">
    <title>Carrello</title>
</head>

<body>
    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2 style="margin-left: 43%;">CARRELLO</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered m-0">
                    <thead>
                      <tr>
                        <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">PRODOTTI NEL CARRELLO</th>
                    </thead>
                    <tbody >
                      <div th:each="j: ${#numbers.sequence(0, #lists.size(caschi)-1, 1)}">
                        <tr>
                          <!--<td class="p-4">
                            <div class="media align-items-center">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                              
                            </div>
                          </td>-->
                          <td>
                            <h4 th:text="'Casco '+${caschi[j].modello}"></h4>
                          </td>
                          <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                        </tr>
                      </div>
                      <div th:each="j: ${#numbers.sequence(0, #lists.size(vestiti)-1, 1)}">
                        <tr>
                          <!--<td class="p-4">
                            <div class="media align-items-center">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                              
                            </div>
                          </td>-->
                          <td>
                            <h4 th:text="${vestiti[j].nomeAbbigliamento}"></h4>
                          </td>
                          <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                        </tr>
                      </div>
                      <div th:each="j: ${#numbers.sequence(0, #lists.size(moto)-1, 1)}">
                        <tr>
                          <!--<td class="p-4">
                            <div class="media align-items-center">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                              
                            </div>
                          </td>-->
                          <td>
                            <h4 th:text="${moto[j].marca}"></h4>
                          </td>
                          <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                        </tr>
                      </div>
            
                      <!--<tr>
                        <td class="p-4">
                          <div class="media align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                            
                          </div>
                        </td>
                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                      </tr>
            
                      <tr>
                        <td class="p-4">
                          <div class="media align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                          </div>
                        </td>
                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                      </tr>
            
                      <tr>
                        <td class="p-4">
                          <div class="media align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                           
                          </div>
                        </td>
                        
                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                      </tr>-->
            
                    </tbody>
                  </table>
                </div>
                <!-- / Shopping cart table -->
            
                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4" style="margin-left: 90%;">
                  <div class="d-flex">
                    <div class="text-center mt-4">
                      <label class="text-muted m-0">Prezzo totale</label>
                      <div class="text-large" ><strong th:text="${totale}+'€'"></strong></div>
                    </div>
                  </div>
                </div>
            
                <div class="float-right">
                    <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" onclick="history.back()" >Indietro</button>
                    <a href="/paymethod"><button id="button" class="btn btn-lg btn-primary mt-2" >Procedi</button></a>
                </div>
            
              </div>
          </div>
      </div>
</body>
</html>