<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </head>
    <body  id="pagina-specifica">
        <header id="header" >
            <div class="logo container">
                <div>
                    <h1><a href="/home" id="logo">Motoroni</a></h1>
                    <p>i più belli di sempre</p>
                </div>
            </div>
        </header>
        <nav id="nav">
					
            <ul style="display: flex; align-items: center; justify-content: center; top: -2px;">
                <li class="current"><a href="/home">Home</a></li>
                
                <li>
                    <a type="button" data-bs-toggle="dropdown" aria-expanded="false" >Motoroni</a>
                    <ul class="dropdown-menu">
                        <li><a href="/sportive" style="background-color: transparent; color: #6b7770;">Sportive</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/caschi">Caschi</a>
                </li>

                <li>
                    <a href="/abbigliamento">Abbigliamento</a>
                </li>

                <li>
                    <a type="button" data-bs-toggle="dropdown" aria-expanded="false" ><img src="https://cdn-icons-png.flaticon.com/512/5029/5029739.png" class="iconlogin"></a>
                    <ul class="dropdown-menu">
                        <li th:unless="${loggato}"><a href="/login" style="background-color: transparent; color: #6b7770;">Login</a></li>
                        <li th:unless="${loggato}"><a href="/formRegistrazione" style="background-color: transparent; color: #6b7770;">Registrazione</a></li>
                        <li th:if="${isAdmin}"><a href="/admin" style="background-color: transparent; color: #6b7770;">Admin-Page</a></li>
                        <li th:if="${loggato}"><a href="/logout" style="background-color: transparent; color: #6b7770;">Logout</a></li>
                    </ul>

                    <li th:if="${loggato} and ${isAdmin!=true}">
                        <div style="position: relative;" data-bs-toggle="dropdown" aria-expanded="false">
                            <a type="button"><img
                                src="https://cdn.icon-icons.com/icons2/494/PNG/512/cart_icon-icons.com_48341.png" class="iconlogin">
                            </a>
                            <b  th:if="${numCarrello}" th:text="${numCarrello}" style="position: absolute;
                            top: 8px;
                            right: 16px; color: black;"></b>
                        </div>
                        <ul class="dropdown-menu">
                                <li><a href="/lista-carrello"
                                        style="background-color: transparent; color: #6b7770;">Carrello</a></li>
        
                            </ul>
                </li>
            </ul>
        </nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." style="border-radius: 40px;
                    width: 72%; "></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span>$40.00</span>
                        </div>
                        <ul>
                            <li><strong>Anno:</strong> <span>2024</span></li>
                            <li><strong>Altezza sella:</strong> <span>850 mm</span></li>
                            <li><strong>Peso:</strong> <span>220 kg</span></li>
                            <li><strong>Cilindrata:</strong> <span>1000 cc</span></li>
                            <li><strong>Potenza CV:</strong> <span>150 CV</span></li>
                            <li><strong>Potenza KW:</strong> <span>110 kW</span></li>
                            <li><strong>Consumo:</strong> <span>5 l/100km</span></li>
                            <li><strong>Trasmissione Manuale:</strong> <span>Sì</span></li>
                            <li><strong>Avvio Elettronico:</strong> <span>Sì</span></li>
                          </ul>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" id="INDIETRO" >
                                Torna<br>Indietro
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" id="carrello">
                                <i class="bi-cart-fill me-1"></i>
                                Aggiungi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- Footer-->
        <div id="copyright">
            <ul class="menu">
                <li>&copy; Alessandro</li><li>&copy; Giacomo</li><li>&copy; Gianluca</li><li>&copy; Michele</li>
            </ul>
        </div>
      


</html>
