<!DOCTYPE html>
<html>
<head>
    <title>Dettaglio Abbigliamento</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    <h1>Dettaglio Abbigliamento</h1>
    
    <div>
        <p>Nome: <span th:text = "${abbigliamento.nomeAbbigliamento}"></span></p>
        <p>Prezzo: <span th:text = "${abbigliamento.prezzo}"></span></p>
        <p>Colore: <span th:text = "${abbigliamento.coloreAbbigliamento}"></span></p>
        <p>Marca: <span th:text = "${abbigliamento.brand}"></span></p>
        <p>materiale: <span th:text = "${abbigliamento.materiale}"></span></p>
        <p>protezione: <span th:text = "${abbigliamento.protezione}"></span></p>
    </div>
</body>
</html>