<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body class="homepage is-preload" style="padding-top: 0%;  max-height: 100%;">

    <div id="page-wrapper" >

        <header id="header" >
            <div class="logo container">
                <div>
                    <h1><a href="/home" id="logo">Motoroni</a></h1>
                    <p>i più belli di sempre</p>
                </div>
            </div>
        </header>



        <section id="main" style="padding: 0%;">
            <section id="banner" style="padding: 0%;">

                <div class="container">
                    
                    <div class="content" style="display: flex; flex-direction: row;text-align: center; object-fit: contain;">

                        <form href="/login" style="padding-left: 100px; padding-right: 60px;" method="post">
                            <h2>Pronto a partire!</h2>
                            <h3><a href="/formRegistrazione">Clicca per registrarti</a></h3>
                            <br>
                                <section style="display: inline-block;" >
                                    <input  type="text" id="username" name="username" placeholder="Username" required>
                                    <br>
                                    <input type="password" id="password" name="password" placeholder="Password" required>
                                </section>
                            <br>
                            <input type="submit" value="Accedi">
                        </form>


                    </div>
                </section>

        </section>




        <footer id="footer" style="padding: 0%;">
            <div class="container">

                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Alessandro</li><li>&copy; Giacomo</li><li>&copy; Gianluca</li><li>&copy; Michele</li>
                    </ul>
                </div>

            </div>
        </footer>


    </div>

</body>
</html>