<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">
        
        <header id="header">
            <div class="logo container">
                <div>
                    <h1><a href="/home" id="logo">Motoroni</a></h1>
                    <p>i più belli di sempre</p>
                </div>
            </div>
        </header>

        <nav id="nav">
            <ul>
                <ul class="menu">
                    <li>&copy; Alessandro</li><li>&copy;Giacomo</li><li>&copy;Gianluca</li><li>&copy;Michele</li>
                </ul>
            </ul>
        </nav>


		<section id="banner">
			<div class="content">
                <form>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                
                    <input type="submit" value="Accedi">
                </form>
            </div>
        </section>
    </div>

</body>
</html>